<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<!--<sectionGroup name="spring">
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>-->
		<!--<section name="databaseSettings" type="System.Configuration.AppSettingsSection"/>-->
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="DEBUG"/>
			</factoryAdapter>
		</logging>
	</common>

	<!--<spring>
		<parsers>
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
		</parsers>
	</spring>-->

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="2048KB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>

		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date{HH:mm:ss,fff} %level [%thread] (%file:%line)%newline - %message%newline"/>
			</layout>
		</appender>

		<root>
			<level value="ERROR"/>
			<!--<level value="DEBUG"/>-->
			<appender-ref ref="RollingFileAppender"/>
		</root>

		<!-- Specify the level for some specific categories -->
		<logger name="COCO.App">
			<!-- <appender-ref ref="B" /> -->
			<level value="DEBUG"/>
			<appender-ref ref="TraceAppender"/>
		</logger>
	</log4net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture=""/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="6.3.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- 框架数据库配置信息 -->
	<!--<databaseSettings>
		--><!-- 数据库产品支持配置信息 --><!--
		<add key="db.provider" value="SqlServer-2.0"/>
		<add key="db.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
		<add key="db.driver_class" value="NHibernate.Driver.SqlClientDriver"/>

		--><!-- 数据库链接配置信息 --><!--
		<add key="db.server" value="LocalHost"/>
		<add key="db.database" value="XGame"/>
		<add key="db.username" value="sa"/>
		<add key="db.password" value="feng0522"/>
	</databaseSettings>-->
</configuration>