<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/MyRabbit.csdl|res://*/MyRabbit.ssdl|res://*/MyRabbit.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;Persist Security Info=True;database=myrabbit&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2048KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date{HH:mm:ss,fff} %level [%thread] (%file:%line)%newline - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ERROR"/>
      <!--<level value="DEBUG"/>-->
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <!-- Specify the level for some specific categories -->
    <logger name="MyRabbit.Test">
      <!-- <appender-ref ref="B" /> -->
      <level value="DEBUG"/>
      <appender-ref ref="TraceAppender"/>
    </logger>
  </log4net>
</configuration>
