			<div class="header">
				<div class="logo"></div>
				<div class="languageselector"></div>
				<div class="links">
					<a href="/home">Home</a> <span class="separator">|</span><a>Clear
						Cache</a>
				</div>
				<div class="login-info">
					<a href="https://appengine.google.com/dashboard?&app_id=s~daixuf">Console</a> <a href="/logout">Logout?</a>
				</div>
			</div>
			<div class="clear"></div>
			<div class="header-menu">
				<ul class="sf-menu">
					<li><a title="View the dashboard" href="/"> <img
							alt="Dashboard" src="/images/ico-dashboard.png" />Dashboard
					</a></li>
					<li>
						<a title="Catalog Home" href="/home"> 
							<img alt="Catalog" src="/images/ico-catalog.png" /> Daily Pay
						</a>
						<ul>
							<li><a title="Daily Pay" href="/dailypay"> Daily Pay</a></li>						
						</ul>
					</li>					
					<li><a title="System Home" href="#"> <img alt="System"
							src="/images/ico-system.png" /> System
					</a>
						<ul>
							<li><a title="User Management" href="/user"> User
									Management</a></li>
							<li><a title="Category" href="/category"> Category
									Management</a></li>
							<li><a title="Maintenance" href="/dictionary"> Dictionary
									Management</a></li>
						</ul>
					</li>
				</ul>
			</div>