<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link type="text/css" rel="stylesheet" href="/style/jquery.ui.all.css" />
	<link type="text/css" rel="stylesheet" href="/style/jquery-ui-1.8.22.custom.css" />
	<link type="text/css" rel="stylesheet" href="/style/styles.css"/>
	<script type="text/javascript" src="/js/jquery-1.4.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.14.custom.min.js"></script>