<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="categoryController" class="com.pis.controllers.CategoryController">
		<property name="categoryService" ref="categoryService"/>
		<property name="dictionaryService" ref="dictionaryService"/>
	</bean>
	<bean id="dailyPayController" class="com.pis.controllers.DailyPayController">
		<property name="categoryService" ref="categoryService"/>
		<property name="dailyPayService" ref="dailyPayService"/>
		<property name="dictionaryService" ref="dictionaryService"/>
	</bean>
	<bean id="dashboardController" class="com.pis.controllers.DashboardController">
		<property name="categoryService" ref="categoryService"/>
		<property name="dailyPayService" ref="dailyPayService"/>
	</bean>
	<bean id="dictionaryController" class="com.pis.controllers.DictionaryController">
		<property name="dictionaryService" ref="dictionaryService"/>
	</bean>
	<bean id="homeController" class="com.pis.controllers.HomeController">
		<property name="dailyPayService" ref="dailyPayService"/>
	</bean>
	<bean id="userController" class="com.pis.controllers.UserController">
		<property name="categoryService" ref="categoryService"/>
		<property name="dictionaryService" ref="dictionaryService"/>
		<property name="userService" ref="userService"/>
	</bean>
</beans>