.append-icon
{
	background-image: url(/images/append.png) !important;	
}
.save-icon
{
	background-image: url(/images/save.png) !important;	
}
.edit-icon
{
	background-image: url(/images/edit.gif) !important;	
}
.delete-icon
{
	background-image: url(/images/delete.gif) !important;	
}
.upload-icon
{
	background-image: url(/images/upload.gif) !important;	
}