<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- Mysql sessionFactory -->
	<bean id="mysqlSF" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="mysqlDS" />
		<property name="jtaTransactionManager" ref="jtaTransactionManager" />
		<property name="configLocation" value="classpath:hibernate/module.cfg.xml" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${mysql.hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${mysql.hibernate.show_sql}</prop> <!-- ${mysql.hibernate.show_sql} //true--> 
				<prop key="hibernate.cache.use_query_cache">${mysql.hibernate.cache.use_query_cache}</prop>
				<prop key="hibernate.cache.provider_class">${mysql.hibernate.cache.provider_class}</prop>
				<prop key="hibernate.generate_statistics">${mysql.hibernate.generate_statistics}</prop>
				<prop key="hibernate.current_session_context_class">${mysql.hibernate.current_session_context_class}</prop>
				<prop key="hibernate.transaction.factory_class">${mysql.hibernate.transaction.factory_class}</prop>
				<prop key="hibernate.connection.release_mode">${mysql.hibernate.connection.release_mode}</prop>
				<!--
						<prop key="hibernate.hbm2ddl.auto">${mysql.hibernate.hbm2ddl.auto}</prop>
					-->
			</props>
		</property>
	</bean>
	<bean id="mysqlJdbc" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="mysqlDS" />
	</bean>
	
	
	<!-- Oracle sessionFactory 
		<bean id="oracleSF"
			class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
			<property name="dataSource" ref="oracleDS" />
			<property name="jtaTransactionManager" ref="jtaTransactionManager" />
			<property name="configLocation" value="classpath:hibernate/oracle.gps.cfg.xml" />
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.dialect">${oracle.hibernate.dialect}</prop>
					<prop key="hibernate.show_sql">${oracle.hibernate.show_sql}</prop>
					<prop key="hibernate.cache.use_query_cache">${oracle.hibernate.cache.use_query_cache}</prop>
					<prop key="hibernate.cache.provider_class">${oracle.hibernate.cache.provider_class}</prop>
					<prop key="hibernate.generate_statistics">${oracle.hibernate.generate_statistics}</prop>
					<prop key="hibernate.current_session_context_class">${oracle.hibernate.current_session_context_class}</prop>
					<prop key="hibernate.transaction.factory_class">${oracle.hibernate.transaction.factory_class}</prop>
					<prop key="hibernate.connection.release_mode">${oracle.hibernate.connection.release_mode}</prop>
					--><!--<prop key="hibernate.hbm2ddl.auto">${oracle.hibernate.hbm2ddl.auto}</prop>-->
	<!--</props>
			</property>
		</bean>
		<bean id="oracleJdbc" class="org.springframework.jdbc.core.JdbcTemplate">
			<property name="dataSource" ref="oracleDS" />
		</bean>-->
</beans>