@charset "gb2312";
*{padding: 0px; margin: 0px;}
body{padding: 0px; font-family: "宋体"; font-size: 12px;}
ul{list-style-type: none}
ol{list-style-type: none}
li{list-style-type: none}
select{font-size: 12px} 
input{font-size: 12px}
img{border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
a{color: #0861d5; text-decoration: none}
a:hover{color: #f00; text-decoration: underline}
/**/
.line{color:#aac1de !important;}
.master-waper{margin: 0px auto; width: 980px;}
.master-waper-page{min-height:471px;}
.header{padding: 6px 6px 10px 5px; height: 60px;}
.header-logo{text-align: left; padding-top: 15px; float: left;}
.logo{background: url("images/logo.jpg"); width: 310px; height: 42px; text-decoration: none; display: block;}
.header-links-wrapper{width: 570px; text-align: right; float: right; padding-top:10px;}
.header-links{padding: 5px; border: 0px solid #fff; margin-bottom: 5px; display: inline-table;}
.header-links ul{margin: 0px; padding: 0px;}
.header-links ul li{list-style: none; padding-right: 2px; display: inline;}
.header-links a{color: #002be4; text-decoration: none; font-weight:bold; cursor:pointer;}
.header-links a:hover{color: rgb(255, 153, 51);}
.headermenu{background: url(images/main_bg1.png) no-repeat 0px -40px; padding: 0px 5px 5px; height: 32px; text-align: center; color: rgb(255, 255, 255); letter-spacing: 1px; margin-bottom: 5px; vertical-align: middle;}
.headermenu ul{margin: 0px; padding: 0px;}
.headermenu li{list-style: none; display: inline; white-space: nowrap;}
.headermenu a{color: rgb(255, 255, 255); text-transform: uppercase; padding-right: 10px; padding-left: 10px; font-size: 0.9em; font-weight: bold; text-decoration: none; vertical-align: middle;}

.searchbox{width: 450px; margin-top:5px; padding-left: 5px; float: left; display: inline;}
.searchboxbutton{border-right-width: 0px; width: 58px; background: url(images/main_bg1.png) no-repeat -169px 0px; border-top-width: 0px; border-bottom-width: 0px; height: 24px; color: #10344c; border-left-width: 0px;cursor: pointer}
.searchboxcombox{font-size: 13px; padding: 2px}
.searchboxtext{border-bottom: #7c9bb7 1px solid; border-left: #7c9bb7 1px solid;width: 300px; height: 11px; font-size: 13px; border-top: #7c9bb7 1px solid; border-right: #7c9bb7 1px solid; padding: 5px;}
.searchbox ul{margin: 0px; padding: 0px;}
.searchbox ul li{list-style: none; float: left;}
.nav
{
    height:37px;
	line-height:37px;
	float:right;
    }
.nav ul{font-size:16px;}
.nav ul li
{
    height:37px;
	float:left;
	margin:0 5px;
	padding:0 10px;
	color:#FFF;
	position:relative;
}
.nav ul li a{
	margin:0;
    padding:0;
    
}
.nav ul li a span{}
.nav ul li a.active{padding-left:23px;display:inline-block;height:37px;background:url(images/nav_abg.png) no-repeat left -1px;font-size:16px;color:#fff;cursor:pointer;}
.nav ul li a.active span{padding-right: 20px; padding-top:4px; height:33px;display:block; background:url(images/nav_abg.png) no-repeat right -1px;color:#333;}
.nav ul li ul{
	position:absolute;
	border:1px solid #dbdbdb;
	background-color:#FFF;
	width:120px;
	line-height:30px;
	left:5px
}
.nav ul li ul li
{
    text-align:left;
    font-size:16px;
    border-bottom:1px solid #E3E3E3;
	background-image:none;
	width:80px
}

.nav ul li ul{display:none;}
.nav ul li:hover ul{display:block; z-index:1000;}

.nav ul li ul li.liBot{
	border-bottom:none;
	background-image:none;
}
	
.nav ul li ul a{
	color:#666;
	text-shadow:none;
}
.master-waper-leftside{width: 190px; float: left;}
.block{color: rgb(51, 51, 51); padding-bottom: 5px; padding-left: 0px; margin-bottom: 15px;}
.block .title{background: url("images/bg_sidebar_title.gif") no-repeat rgb(51, 51, 51); padding: 7px 10px; color: rgb(255, 153, 51); text-transform: uppercase; font-size: 0.9em; font-weight: bold;}
.block .listbox{background: url("images/bg_sidebar_block.gif") no-repeat left bottom rgb(255, 255, 255); border:1px solid #aac1de; margin: 0px; padding: 5px 10px 10px; line-height: 18px; font-size: 12px;height:420px;}
.block .listbox ul{margin: 0px; padding: 0px 0px 0px 10px; color: rgb(170, 200, 240); background-color: inherit;}
.block a{color: rgb(10, 100, 200); font-weight: bold; text-decoration: none;}
.block li{list-style: none; padding:2px;}
.block li.separator{background: rgb(255, 153, 51); margin: 5px 0px; width: 140px; height: 3px; line-height: 3px; font-size: 1px;}
.block-category-navigation{}
.block-category-navigation-title{text-align: center; background: url(images/main_bg1.png) no-repeat -262px 0px; height: 23px; color: #fff; font-size: 14px; font-weight: bold; padding-top: 8px}
.block-category-navigation .active a{color: rgb(255, 153, 51); font-weight: bold; text-decoration: none;}
.block-category-navigation .listbox ul .active{font-weight: bold;}
.block-category-navigation .listbox ul .inactive{}
.block-manufacturer-navigation a.active{color: rgb(255, 153, 51); font-weight: bold; text-decoration: none;}
.block-manufacturer-navigation a.inactive{color: rgb(255, 255, 255); font-weight: bold; text-decoration: none;}
.block-manufacturer-navigation .listbox .viewall a{color: rgb(255, 153, 51);}
.master-waper-rightside{width: 780px; float: right}
.master-waper-rightside-center-title{text-align: center; background: url(images/main_bg1.png) no-repeat 0px -157px; height: 20px; color:rgb(255,255,255); font-size:12px; font-weight:bold; text-align:left; padding-top:8px; padding-left:10px;}
.master-waper-rightside-center-title a{color:#fff;}
.master-waper-product-title{}
.master-waper-header-bar{padding:4px 20px 4px 10px; font-weight: bold; font-size: 14px; background: url(images/main_bg1.png) no-repeat -1px -157px;color: #0048a2; height: 21px;}
.master-waper-header-bar a{font-weight: bold; font-size: 14px; color: #0048a2}
.master-waper-header-bar h2{font-size: 14px !important;}
.master-waper-content-main{border-right: #d8e6f5 1px solid; border-top: #d8e6f5 1px; min-height:450px; border-left: #d8e6f5 1px solid; width: 978px; border-bottom: #d8e6f5 1px solid}
.master-waper-content{padding-right: 0px; padding-left: 0px; padding-bottom: 10px; margin: 0px auto; width: 978px; padding-top: 10px}
.master-waper-content dl{width: 978px}
.master-waper-content dl dt{padding: 5px; font-weight: bold; background: #f6fbff; height: 14px;}
.master-waper-content dl dt a.a1{font-weight: bold;float: left;color: #666}
.master-waper-content dl dt a.a2{color: black; text-decoration: none}
.master-waper-content dl dd{clear: both; padding-right: 0px; padding-left: 8px; padding-bottom: 5px; overflow: hidden; padding-top: 5px; margin:0px;}
.master-waper-content dl dd ul{clear: both; overflow: hidden; width: 960px}
.master-waper-content dl dd li{float: left; width: 120px; color: #0047a1; line-height: 21px}
.master-waper-content dl dd li a{color: #0047a1}
.master-waper-content dl dd li a:hover{color: #f00}
.master-waper-search-condition{}
.master-waper-search-condition-category{height:auto; display:block;}
.master-waper-search-condition-category dl{margin:2px;padding-left:20px;}
.master-waper-search-condition-category dd{margin:0px;line-height: 25px;overflow: hidden; width:100%;}
.master-waper-search-condition-category dd li{float:left; width:180px;}
.master-waper-search-condition-list{}
.master-waper-search-condition-list dl{border-top: #cccccc 1px dashed; margin:2px; width:970px;}
.master-waper-search-condition-list .first{border-top-width: 0px}
.master-waper-search-condition-list dt{line-height: 25px;font-weight: bold; float: left; width: 160px; margin:0px;text-align: right; padding:0px;}
.master-waper-search-condition-list dd{margin:0px;line-height: 25px;overflow: hidden; word-break: keep-all; width:760px;}
.master-waper-search-condition-list dd a{padding-right: 2px; display: block; padding-left: 2px; float: left; padding-bottom: 0px; margin: 3px 4px; line-height: 18px; padding-top: 0px; white-space: nowrap; text-decoration: none}
.master-waper-search-condition-list dd a:hover{background: #688fc9; color: #fff; text-decoration: none}
.master-waper-search-condition-list dd a.here{background: #688fc9; color: #fff}
.master-waper-search-condition-list .w40{float: left; overflow: hidden; width: 40px;height:100%;}
.master-waper-search-condition-list .bg{border-top-width: 0px; background: #fdf8de}
.master-waper-search-condition-list .bg span{font-weight: bold; float: left; color: #f60}
.master-waper-search-condition-list .bg a{padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 2px 0px 0px 6px; padding-top: 0px}
.master-waper-search-condition-list .bg a.close{padding-right: 15px; padding-left: 5px; background: url(images/main_bg1.png) no-repeat right -608px; padding-bottom: 0px; color: #f60; padding-top: 2px}
.master-waper-search-condition-list0 .bg a.close:hover{background: url(images/main_bg1.png) no-repeat right -608px; color: #f60; text-decoration: underline}
.master-waper-search-condition-list .bg a.reset{background: url(images/main_bg1.png) no-repeat -120px -266px; float: left; width: 88px; height: 21px}
.master-waper-search-condition-list .bg a.reset:hover{background: url(images/main_bg1.png) no-repeat -120px -266px}
.master-waper-product-list{}
.master-waper-product-item{border-top:1px solid #a9c1dd;background-color:rgb(246, 251, 255);}
.master-waper-product-item_w{border-top:1px solid #a9c1dd;}
.master-waper-product-list dl{clear: both; overflow: hidden; width: 900px; margin:0px;}
.master-waper-product-list dl dt{font-weight: bold; font-size: 14px; padding-top: 9px; height: 22px;margin-left:20px;}
.master-waper-product-list dl dt a{color: #002be4; text-decoration: none}
.master-waper-product-list dl dt a:hover{color: #f00}
.master-waper-product-list dl dd{float: left; width: 400px; line-height: 20px;margin-left:20px;}
.master-waper-product-list dl dd.n1{color: #0861d5}
.master-waper-product-list dl dd.n1 a{color: #0861d5}
.detail-tab{padding-left: 28px; margin-top:5px; height: 33px; background-image: url('images/zs_bg.gif'); background-repeat: repeat-x;}
.detail-tab ul{margin: 0px; padding: 0px;}
.detail-tab ul li{list-style: none; float: left;}
.detail-tab-active{background: url(images/tab_active.jpg) no-repeat !important;height: 20px; padding:5px; width:84px;display:block;}
.detail-tab a{text-decoration:none; background: url(images/tab_inactive.jpg) no-repeat; height: 20px; padding-top:10px; padding-left:13px; width:74px; display:block; font-size:14px; font-weight:bold; float:left;}
.master-waper-edit-form{border: 1px solid #aac1de;color:#808080; padding:10px;}
.master-waper-edit-form th{padding:5px; padding-left:20px; width:90px; text-align:left; font-size:12px;}
.master-waper-edit-form td{padding:5px; width:500px; text-align:left;}
.master-waper-edit-form td input, .textbox{margin: 1px;border-right: #dfe5e7 1px solid;border-top: #a8bac2 1px solid;border-left: #a8bac2 1px solid;border-bottom: #dfe5e7 1px solid;background: url(images/bgtextbox.gif) white repeat-x left top;color: #11354a;font-family: verdana;font-size: 10pt;padding: 2px;padding-top: 4px;height: 15px;}
.combox{margin: 1px;border-right: #dfe5e7 1px solid;border-top: #a8bac2 1px solid;border-left: #a8bac2 1px solid;border-bottom: #dfe5e7 1px solid;background: url(images/bgtextbox.gif) white repeat-x left top;color: #11354a;font-family: verdana;font-size: 10pt;padding: 2px 2px 1px 2px;height: 23px;}
.gridview-empty
{
	BORDER-SPACING: 0px;
	border-left: 1px dotted transparent;
	border: 1px solid #C1B7E1;
}
.gridview-empty td
{
	padding: 0px !important;
	border-right: 1px dotted #aac1de;
	border-bottom: 1px solid #aac1de;
	background-color: #688fc9;
	font-size:12px;
	color: #ffffff;
	text-align: center !important;
	font-weight:bold;
}
.gridview-empty span
{
    text-align:left !important;
    height:100%;
    width:100%;
    font-weight:bold;
    color:Red;
}

.gridview{width:100%;}

.gridview th
{height: 26px;color:#FFFFFF; background-color:#688fc9;
    padding: 0px 5px 0px 5px;
    margin: 0px}
.gridview tr{height:24px;}
.gridview td{ border:1px solid transparent; padding:0px 5px 0px 5px;}
.gridview td input { width:100%;}
.gridview td span input { width:50px;}

.button{background:url(images/main_bg1.png) no-repeat left -433px; display:block; height:28px; padding-left:5px; cursor:pointer;}
.button:hover{ text-decoration:none;}
.button ins{background:url(images/main_bg1.png) no-repeat right -433px;display:block;height:20px !important; padding-right:5px; color:#fff; text-align:center; padding-top:7px; text-decoration:none; font-weight:bold;}

.product-detail{padding:28px; padding-top:10px;}
.product-detail table{border-top:1px solid #aac1de; border-left:1px solid #aac1de; font-size:14px;}
.product-detail th{text-align:left; min-width:150px; font-weight:normal; padding:8px; border-bottom:1px solid #aac1de; border-right:1px solid #aac1de;}
.product-detail td{padding:8px; width:350px; border-bottom:1px solid #aac1de; border-right:1px solid #aac1de;}
.footer{text-align: center; padding-bottom: 7px; line-height: 22px; margin: 1px auto 0px; padding-left: 0px; width: 980px; padding-right: 0px; clear: both; border-top: #cecbce 1px solid; padding-top: 7px}
.footer .f_l1{padding-left: 100px; width: 750px; float: left; color: #dedde5}
.footer .f_r1{width: 100px; background: url(images/main_bg1.png) no-repeat -122px -303px; float: left; height: 40px}
.footer address{font-style: normal; font-family: arial,"宋体"; color: #666666}
.footer .img{padding-right: 80px; float: right}
/**/
/*chen, qiqing*/
.detail-content-wraper{float:left; border-bottom: #d8e6f5 1px solid; border-left: #d8e6f5 1px solid;border-right: #d8e6f5 1px solid;border-top: #d8e6f5 1px;width: 978px;}
.detail-tab-header{background: url(images/tab_bg.gif) repeat-x;padding-left: 28px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;height: 43px;}
.detail-tab-header a{font-weight: bold;font-size: 14px;background: url(images/tab_inactive.jpg) no-repeat;float: left;width: 84px;color: #203989;margin-right: 3px;padding-top: 9px;height: 21px;text-align: center}
.detail-tab-header span{font-weight: normal; font-size: 12px; color: #000; font-family: arial}
.detail-tab-header a:hover{background: url(images/tab_active.jpg) no-repeat;color: #000;float:left;margin-right:3px;padding-top:9px;text-align:center;text-decoration: none;}
.waper-tab-container{background: url(images/tab_bg.gif) repeat-x;padding-left: 14px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;margin-top:10px;height: 43px;}
.waper-tab-container a{font-weight: bold;font-size: 14px;float: left;width: 84px;color: #203989;margin-right: 3px;padding-top: 9px;height: 21px;cursor:pointer;text-align: center}
.waper-tab-container a:hover{background: url(images/tab_active.jpg) no-repeat; text-decoration:none;}
.waper-tab-active{background: url(images/tab_active.jpg) no-repeat;color: #000;padding-top:9px;text-align:center;text-decoration: none;}
.waper-tab-inactive{font-weight: bold;font-size: 14px;background: url(images/tab_inactive.jpg) no-repeat;float: left;width: 84px;color: #203989;margin-right: 3px;padding-top: 9px;height: 21px;text-align: center}
.content-wrapper-of-tab{padding-left: 20px;padding-bottom: 10px;border:1px solid blue;}
.product-details-title{padding-right: 0px;padding-left: 20px;padding-bottom: 0px;padding-top: 4px;font-weight: bold;font-size: 14px;border-bottom: #c5ddf1 1px solid;height: 19px}
.product-details-title span{color: #f60}
.product-details-title span b{font-size: 18px; font-family: arial}
.product-details-title h2{font-size: 14px}
.product-details-table{margin: 0px auto; width: 980px; border-collapse: collapse}
.product-details-table td{border-right: #c5ddf1 1px solid; padding-right: 10px; border-top: #c5ddf1 1px solid; padding-left: 20px; font-size: 14px; padding-bottom: 5px; vertical-align: top; border-left: #c5ddf1 1px solid; line-height: 18px; padding-top: 5px; border-bottom: #c5ddf1 1px solid; text-align: left}
.product-details-table th{border-right: #c5ddf1 1px solid;padding-right: 10px;border-top: #c5ddf1 1px solid;padding-left: 20px;font-size: 14px;padding-bottom: 5px;vertical-align: top;border-left: #c5ddf1 1px solid;line-height: 18px;padding-top: 5px;border-bottom: #c5ddf1 1px solid;text-align: left;background: #f6fafd;width: 80px;}
.product-details-table .td2{background: #fbfdfe; width: 200px;font-size: 9pt;}
.product-details-table .td21{background: #fbfdfe; width: 130px; text-align: right}
.product-details-table .td3{text-align: center}
.product-details-table .td3 div{text-align: left}
.product-details-table span{font-size: 12px;}
.product-details-table span a{text-decoration: underline}
.product-details-table span a:hover{color: #f00}
.modalpopup{background-color:white; border:3px solid #aac1de;}
.modalpopup .tbar{background:url(images/main_bg1.png) no-repeat left -228px; height:27px;}
.modalpopup .tbar h3{padding:6px; font-weight:bold; color:#FFFFFF;}
.modalpopup dl{width: 800px}

.modalpopup dl dt{padding: 5px; font-weight: bold; background: #f6fbff; height: 16px;}
.modalpopup dl dt a.a1{font-weight: normal;float: left;color: #666}
.modalpopup dl dt a.a2{color: black; text-decoration: none}
.modalpopup dl dd{clear: both; padding-right: 0px; padding-left: 8px; padding-bottom: 5px; overflow: hidden; padding-top: 5px}
.modalpopup dl dd ul{clear: both; overflow: hidden; width: 750px}
.modalpopup dl dd li{float: left; width: 150px; color: #0047a1; line-height: 16px}
.modalpopup dl dd li a{color: #0047a1}
.modalpopup dl dd li a:hover{color: #f00}
.modalbackbround{background-color:gray; filter:alpha(opacity=25);width:100%;height:100%;zoom:1;-moz-opacity: 0.25;opacity: .25;}
.collapsepanel{width:200px;height:200px;background-color:white;overflow:hidden;}
.collapsepanelheader{width:200px;color: white;background-color: #2e4d7b;font-weight:bold;float:left;padding:5px;cursor: pointer;vertical-align: middle;}
.myshade{position:absolute;margin:0px !important;padding:0px;background-color:rgb(255,255,255);left:0px;top:0px;filter:alpha(opacity=50);width:100%;height:100%;zoom:1;-moz-opacity: 0.5;opacity: .5;z-index:30001;text-align:center;}
.myshade img{/*margin-top:304px;*/ height:40px; width:40px;}

.gridviewstyle{font-family: arial;font-size: 11px;border: 1px solid #808080;background-color: #ffffff;margin-left: 0px;color: #245d75;width: 100%;}
.gridviewstyle td a{color: #8484ff;font-weight: bold;text-decoration: none;}
.altrowstyle{background-color: #f4faff;}
.headerstyle th{/*background: url('images/grid_header_back.png') repeat-x 50%;*/background-color:#2f65ae;color: black;padding: 5px 10px 5px 10px;text-align: center;vertical-align: middle;font-weight: bold;border: solid 1px #676767;}
.headerstyle th a{font-weight: bold;text-decoration: none;text-align: center;color: #fff;display: block;padding-right: 10px;}
.rowstyle td, .altrowstyle td{padding: 4px 10px 4px 10px;border-right: solid 1px #a0c0e7;border-right-color: #808080;}
.pagerstyle{height: 28px;background: url(images/grid_header_back.png) repeat-x;background: #eeeeee;vertical-align: middle;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*tab control
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.grey .ajax__tab_header{font-family: "helvetica neue" , arial, sans-serif;background: url(images/tab-line.png) repeat-x bottom;font-size: 14px;font-weight:bold;}
.grey .ajax__tab_header .ajax__tab_outer{background: url(images/tab_inactive.jpg) no-repeat left top;border-color: #222;margin-left:2px;padding-left:12px;text-align:center;}
.grey .ajax__tab_header .ajax__tab_inner{background: url(images/tab_inactive.jpg) no-repeat right top;border-color: #666;color:#0048a2;padding: 8px 0px 2px 0px;padding-right:12px;}
.grey .ajax__tab_hover .ajax__tab_inner{color: #000;cursor:pointer;}
.grey .ajax__tab_active .ajax__tab_outer{background: url(images/tab_active.jpg) no-repeat 0pt -40px;border-bottom-color: #ffffff;border-bottom-width:1px;border-top:2px solid red;border-left:1px solid gray;border-right:1px solid gray;border-style:solid;}
.grey .ajax__tab_active .ajax__tab_inner{background: url(images/tab_active.jpg) no-repeat right -40px;color: black;border-color: #333;}
.grey .ajax__tab_body{background-color: #fff;border: solid 0px #d7d7d7;padding: 10px 10px 10px 10px;}

.help { background:#fff;border:2px solid #aac1de;}
.help p{ padding:3px;}
.help font { font-weight:bold; color:Red; font-size:12px;}
label.error{color:#ea5200; margin: 0px 0px 0px 4px; padding: 0px 0px 0px 20px;  background:url(images/unchecked.gif) no-repeat 2px 0; } 
label.right{margin-left:4px; padding-left:20px; background: url(images/checked.gif) no-repeat 2px 0}

.product-details-table-admin{margin: 0px auto; width: 100%; border-collapse: collapse}
.product-details-table-admin td{border: #c5ddf1 1px solid;     vertical-align: top;  line-height: 18px;  text-align: left}
.product-details-table-admin th{border: #c5ddf1 1px solid;  vertical-align: middle;line-height: 18px; text-align: left;background: #f6fafd;width:60px;}
.product-details-table-admin .td2{background: #fbfdfe; width: 160px;font-size: 9pt;}
.product-details-table-admin span{font-size: 12px;}
.errorpage
{border: #c5ddf1 1px solid;
    height:480px;
    }
.errorpage .erroricon
{
    margin:100px 40px 0px 280px;
    float:left;
    height:128px;
    width:128px;
    background:url(images/error.png);
    }
.errorpage .errormessge
{
    font-size:x-large;
    margin:180px 0px 0px 80px;
    }
.desktop
{
   height:480px; border:1px solid #aac1de;
}
.desktop ul{margin:0px; padding:0px;}
.desktop li{ float:left; width:152px; height:152px; margin:25px 0px 0px 35px;background:url(images/appbg.png);}
.desktop li:hover{filter:alpha(opacity=50);-moz-opacity: .5;opacity: .5;}
.desktop li a{height:32px; width:100%; display:block; padding-top:120px; }
.desktop li a h2{ text-align:center;}

.sales-waper-edit-form{border: 1px solid #aac1de;color:#808080; padding:10px;}
.sales-waper-edit-form th{padding:5px 0px 5px 5px; padding-left:10px; width:100px; text-align:left; font-size:12px;}
.sales-waper-edit-form td{padding:5px; width:480px; text-align:left;}
.sales-waper-edit-form td input, .textbox{ width:200px; margin: 1px;border-right: #dfe5e7 1px solid;border-top: #a8bac2 1px solid;border-left: #a8bac2 1px solid;border-bottom: #dfe5e7 1px solid;background: url(images/bgtextbox.gif) white repeat-x left top;color: #11354a;font-family: verdana;font-size: 10pt;padding: 2px;padding-top: 4px;height: 15px;}


.groupLable{
    cursor:pointer;	
}

.minus{
	height: 9px;
	float:left;
	width: 9px;		
	cursor:pointer;	
	background-image: url(images/minus.gif);
}
.minus a{
    color:#0048a2;
    }
.plus
{
	height: 9px;
	width: 9px;	
	float:left;
	border:0;	
	cursor:pointer;	
	background-image: url(images/plus.gif);
	
}
.plus a{
    color:#0048a2;
    }
    
.blank
{
	width:9px;
	height: 9px;		
	float:left;
	border:0;
	background-image: url(images/blank.gif) ;
}

.left_space
{
	border-width: 0;
	border: 0;	
	width: 20px;
	border-right-style: none;
}