<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>User list</title>

#include("/shared/source.vm")
<script type="text/javascript">
	function onDelete() {
		var hasSelected = false;
		var checkboxs = $("input:checkbox", $("#usergrid"));

		for ( var i = 1; i < checkboxs.length; i++) {
			if (hasSelected = (hasSelected != checkboxs[i].checked))
				break;
		}
		if (!hasSelected) {
			alert("请选择要删除的数据！");
			return;
		}
	}
</script>
</head>
<body>
	<div class="master-wrapper-page">
		<div class="master-wrapper-content">
			#include("/shared/header.vm")
			<div class="content">
				<div class="cph">
					<div class="section-title">
						<img alt="Dashboard" src="/images/ico-dashboard.png"/>User List
					</div>
					<div class="section-body">
						<form action="/user/index/1">
							<table class="table-container">
								<tr>
									<th>Nick Name:</th>
									<td><input type="text" class="textBox" name="nickname"
										value="$!criteria.nickName" /></td>
									<th>Email:</th>
									<td><input type="text" class="textBox" name="email"
										value="$!criteria.email" /></td>
									<th>User Name:</th>
									<td><input type="text" class="textBox" name="username"
										value="$!criteria.userName" /></td>
									<th>Category:</th>
									<td><select name="categoryid">
											<option value="">Please select category</option>
											#foreach($o in $categories)
											<option #if($o.id == $criteria.categoryId) selected #end value="$o.id">$o.name</option>
											#end
									</select></td>
									<td><input type="submit" value="Search" /> <input
										type="reset" value="Clear"
										onclick="window.location.href='/user';" /> <input
										type="button" value="Add"
										onclick="window.location.href='/user/add';" /> <input
										type="button" value="Delete" onclick="onDelete()" /></td>
								</tr>
							</table>
						</form>
						<div class="blackbar"></div>
						<table id="usergrid"
							style="width: 85%; border-collapse: collapse;" class="tablestyle"
							border="1" cellspacing="0">
							<tbody>
								<tr class="headerstyle">
									<th style="width: 12px;"><input type="checkbox" /></th>
									<th>Nick Name</th>
									<th>Email</th>
									<th>User Name</th>
									<th>Category</th>
									<th style="width: 30px;">Edit</th>
								</tr>
								#foreach($o in $users)
									<tr #if($foreach.index % 2 == 0) class="rowstyle" #else class="altrowstyle" #end>
									<td><input type="checkbox" /></td>
									<td>$o.nickName </td>
									<td>$o.email </td>
									<td>$o.userName</td>
									<td>$o.categoryName</td>
									<td><a href="/user/edit/$o.id">Edit</a></td>
									</tr>
								#end
								<tr>
									<td colspan="6">$!pager</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>