<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/MyRabbit.csdl|res://*/MyRabbit.ssdl|res://*/MyRabbit.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.10.88;User Id=root;password=root;Persist Security Info=True;database=myrabbit&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>