<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
	<title>Dictionary list</title>
#include("/shared/source.vm")
<script type="text/javascript">
	function onDelete() {
		var hasSelected = false;
		var checkboxs = $("input:checkbox", $("#usergrid"));

		for ( var i = 1; i < checkboxs.length; i++) {
			if (hasSelected = (hasSelected != checkboxs[i].checked))
				break;
		}
		if (!hasSelected) {
			alert("请选择要删除的数据！");
			return;
		}
	}
</script>
</head>
<body>
	<div class="master-wrapper-page">
		<div class="master-wrapper-content">
			#include("/shared/header.vm")
			<div class="content">
				<div class="cph">
					<div class="section-title">
						<img alt="Dashboard" src="/images/ico-dashboard.png"/>Dictionary List
					</div>
					<div class="section-body">
						<form method="POST" action="/dictionary/index/1">
							<table class="table-container">
								<tr>
									<th>Type:</th>
									<td>
										<select name="type">
											<option value="">Please select type</option>
											#foreach($o in ["Category","Location"])
											<option #if($o == $criteria.type) selected #end>$o</option>													
											#end
										</select>
									</td>
									<th>Value:</th>
									<td><input type="text" class="textBox" name="value" /></td>
									<td><input type="submit" value="Search" /> <input type="reset" value="Clear" /> 
										<input type="button" value="Add" onclick="window.location.href='/dictionary/add';" />
										<input type="button" value="Delete" onclick="onDelete()" />
										<input type="button" value="Export" onclick="window.location.href='/dictionary/export?name=';" />
									</td>
								</tr>
							</table>
						</form>
						<div class="blackbar"></div>
						<table id="usergrid"
							style="width: 65%; border-collapse: collapse;" class="tablestyle"
							border="1" cellspacing="0">
							<tbody>
								<tr class="headerstyle">
									<th style="width: 12px;"><input type="checkbox" /></th>
									<th>Type</th>
									<th>Value</th>
									<th>Remark</th>
									<th>Edit</th>
								</tr>
								#foreach($o in $dictionaries)
								<tr #if($foreach.index %2 == 0) class="rowstyle" #else class="altrowstyle" #end>								
									<td><input type="checkbox" /></td>
									<td>$o.type</td>
									<td>$o.value</td>
									<td>$o.remark</td>
									<td><a href="/dictionary/edit/$o.id">Edit</a></td>
								</tr>
								#end
								<tr>
									<td colspan="5">$pager</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>