<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!--   Example: <add key="settingName" value="settingValue"/> -->
	<add key="provider" value="sqlServer2005" />
  <add key="server" value="localhost"/>
  <add key="database" value="iBatis"/>
  <add key="userid" value="sa"/>
  <add key="password" value=""/>
	<add key="root" value="../../" />
</settings>
